# Ignorar entorno virtual de Python
.venv/

# Ignorar archivos de compilación de Python
__pycache__/
*.pyc
*.pyo

# Ignorar archivos de logs
*.log

# Ignorar configuraciones de editores
.vscode/
.idea/

# Ignorar archivos del sistema (macOS, Linux)
.DS_Store
