#root {
  max-width: 100%;
  width: 100%;
  margin: 0;
  padding: 0.5rem;
}

@media (min-width: 768px) {
  #root {
    padding: 1rem;
  }
}

@media (min-width: 1200px) {
  #root {
    padding: 2rem;
  }
}
